/* @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap') */



  
  /* .absolute {
    position: absolute;
  } */
  
  
  
  /* .transition-transform {
    transition: transform 0.6s ease-in-out;
  }
  
  .translate-x-full {
    transform: translateX(100%);
  }
  
  .translate-x-0 {
    transform: translateX(0);
  } */

  /* .carousel-height{
    height: 91.8vh;
  } */
  
  /* .image-height {
    height: 100vh;
  } */